.nx-columns {
  display: grid;
  gap: var(--spacing-800);
}

.nx-columns.alternate .row-title {
  text-align: center;
}

.nx-columns table {
  width: 100%;
  border-collapse: collapse;
}

.nx-columns td {
  border: 2px solid #676767;
}

@media (width > 599px) {
  .columns-row.row-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-800);
  }

  .nx-columns.alternate
  .row-content:nth-of-type(odd)
  .columns-col-1 {
    order: 2;
  }

  .nx-columns.alternate
  .columns-row.row-content .columns-col {
    display: grid;
    align-content: center;
  }
}
