.hero {
  position: relative;
  color: #FFF;
}

.hero-foreground {
  max-width: var(--grid-container-width);
  min-height: 350px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
}

.hero-background picture {
  position: absolute;
  inset: 0;
}

.hero-background img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero-foreground *:first-child {
  margin-top: 0;
}

.hero-foreground *:last-child {
  margin-bottom: 0;
}
