button,
input[type="submit"],
input[type="button"] {
  background: none;
  font-family: var(--body-font-family);
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.action {
  line-height: 1;
  padding: 4px 8px;
  font-weight: 400;
  border-radius: var(--s2-radius-100);
  background: rgb(225 225 225);
  border: 2px solid rgb(225 225 225);
}

.primary,
.accent,
.negative,
input[type="submit"].accent {
  padding: 5px 14px;
  line-height: 18px;
  font-size: 15px;
  border: 2px solid #000;
  color: #000;
  border-radius: var(--s2-radius-300);
  outline-offset: 0;
  transition: outline-offset .2s;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
}

.accent,
input[type="submit"].accent {
  background: var(--s2-blue-800);
  border: 2px solid var(--s2-blue-800);
  outline-color: var(--s2-blue-800);
  color: #FFF;
}

.negative,
input[type="submit"].negative {
  background: var(--s2-red);
  border: 2px solid var(--s2-red);
  outline-color: var(--s2-red);
  color: #FFF;
}

.accent:focus-visible,
input[type="submit"].accent:focus-visible {
  background: #3b63fb;
  border: 2px solid #3b63fb;
  outline-offset: 4px;
}

button:disabled {
  background-color: #efefef;
  border: 2px solid #efefef;
}
