.card {
  box-shadow: 0 1px 6px 0 rgba(0 0 0 / 12%);
  border-radius: var(--s2-radius-200);
  overflow: hidden;
  background-color: light-dark(var(--color-gray-100), var(--color-gray-900));
  color: light-dark(var(--color-dark), var(--color-light));
  transition: all 0.25s ease-in-out;

  picture {
    position: absolute;
    inset: 0;
    opacity: 0.85;
    transition: opacity 0.25s ease-in-out;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &:hover {
    transform: scale(1.005);
    box-shadow: 0 2px 8px 0 rgba(0 0 0 / 16%);

    picture {
      opacity: 1;
    }
  }

  .card-inner {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
  }

  .card-picture-container {
    position: relative;
    padding-bottom: 60%;
    background: rgb(0 0 0);
  }

  .card-content-container {
    padding: var(--spacing-l);

    :first-child {
      margin-top: 0;
      font-size: 16px;
    }

    :last-child {
      margin-bottom: 0;
    }

    &:has(+ .card-cta-container) {
      padding: var(--spacing-l) var(--spacing-l) var(--spacing-m) var(--spacing-l);
    }
  }

  .card-cta-container {
    padding: 0 var(--spacing-l) var(--spacing-l) var(--spacing-l);
    margin: 0;
    display: flex;
    justify-content: end;
  }
}
